<%- include('../partials/header') %>

  <table>
    <thead>
      <tr>
        <td>Airline</td>
        <td>Flight Number</td>
        <td>Departure Date/Time</td>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">Details</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>