<%- include('../partials/header') %>

<section id="show-page">
  <div>Airport:</div><div><%= flight.airport %></div>
  <div>Airline:</div><div><%= flight.airline %></div>
  <div>Flight No:</div><div><%= flight.flightNo %></div>
  <div>Departs:</div><div><%= flight.departs %></div>
</section>

<br><br><h2>Destination for Flight No. <%= flight.flightNo%></h2>
<form id="add-destination-form" method="POST" 
  action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <select name="airport">
    <option value="SEA">SEA</option>
    <option value="AUS">AUS</option>
    <option value="DAL">DAL</option>
    <option value="LAX">LAX</option>
  </select>
  <br>
  <label>Arrival Date:</label>
    <input type="datetime-local" name="arrival">
  <br>
  <input class="button" type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

<% if(tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price ($)</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
      <tr>
        <td><%= t.seat %></td>
        <td><%= t.price %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
    <h4>No Tickets Yet</h4>
    <% } %>
    
    <p>
      <a  id="add" href="/flights/<%= flight._id %>/tickets/new" value="Add Ticket">Add Ticket</a>
    </p>

<%- include('../partials/footer') %>